<link rel="stylesheet" href="/stylesheets/newPost/style.css">

<form action="/posts" method="POST">
    <div class="newPost">
        <h3>Add New Post</h3>
        <input type="text" name="title" placeholder="Enter title here">
        <select name="author">
            <option selected disabled>Choose author</option>

            <% [["Aldhan", "Arsa", "Abi", "Bullit", "Dzaki", "Hisyam", "Ibrahim", "Halim", "Taufiq", "Gavin", "Farrel", "Shafwan", "Dean", "Rafi", "Nafidz", "Nabil"],["Alifa", "Maryam", "Yumna", "Sasa", "Mafaza", "Hanin", "Kayla", "Ica"]].forEach((element, index) => { %>
            <% if (index == 0) {%>
            <optgroup label="Boys">
                <% }else { %>
            <optgroup label="Girls">
                <% } %>
                <% element.forEach(e => { %>
                <option value="<%= e %>"> <%= e %> </option>

                <% }); %>
            </optgroup>
            <% }); %>
        </select>
        <textarea class="editor" placeholder="write markdown syntax here" name="content"></textarea>
        <div class="buttons">
            <!--<button type="button">save draft</button>-->
            <button type="submit">save</button>
        </div>
    </div>
</form>
